{{#get "posts" filter="featured:true" limit="3" as |featured|}}
<div class="inner posts">
    <div class="post-feed">
        {{#foreach featured}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
        {{/foreach}}
    </div>

</div>
{{/get}}