<div class="outer site-nav-main">
    <div class="inner">
        {{!-- TODO here to insert the respnosive logo --}}
        <div class="site-nav-personal-logo">
            <div class="fullname">
                <a href="/"><span class="firstname">Nina</span><span class="lastname">BUTIN</span></a>
            </div>
            <div class="shortname">
                <a href="/"><span class="firstname">N</span><span class="lastname">B</span></a>
            </div>
        </div>
        {{> "site-nav"}}
    </div>
</div>